.ms_font {
    font-size: .9rem;
}

.title {
    background-color: blanchedalmond;
    color: rgb(255, 153, 0);
}

.ms_dim {
    aspect-ratio: 1 / 1;
}

.fizz {
    background-color: rgb(151, 201, 0);
    color: white;
}

.buzz {
    background-color: rgb(221, 213, 0);
    color: white;
}

.fizzbuzz {
    background-color: rgb(255, 129, 2);
    color: white;
}

.natural {
    background-color: rgb(207, 62, 0);
    border-radius: 50%;
    color: white;
}

